body {
	position: relative;
}
.p0 {
	padding: 0 !important;
}
.m0 {
	margin: 0 !important;
}
.bs-0 {
	box-shadow: none !important;
}
.clr-red {
	color: #b73932 !important;
}
.hide-bfr:before {
	display: none !important;
}
.hide-aft:after {
	display: none !important;
}
.section-title {
	
}
.section-title span {
	color: #051e37;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	position: relative;
	padding-left: 66px;
}
.section-title span:before {
	content: '';
	background-color: #b73932;
	border-radius: 3px;
	position: absolute;
	left: 0;
	top: 7px;
	width: 52px;
	height: 3px;
}
.section-title h2 {
	color: #051e37;
    font-size: 52px;
    letter-spacing: -0.1rem;
    margin: 10px 0 40px;
}
.our-services {
	padding: 100px 0;
	overflow-x: hidden;
}
.cardbgclr {
	position: relative;
	box-shadow: 0 40px 40px 0 rgba(19, 23, 32, 0.1);
	margin-top: 60px
}
.cardbgclr:before {
	content: '';
    background-color: #051e37;
    position: absolute;
    left: -60px;
    top: -40px;
    width: 100vw;
    height: 90%;
    z-index: -1;
    border-bottom-left-radius: 80px;
}
.cardbgclr > .row {
	background-color: #fff;
}
.src-card {
	padding: 42px;
}
.scd-bs-xy {
	box-shadow: 1px 1px 0 #cfd4d9;
}
.scd-bs-x {
	box-shadow: 1px 0 0 #cfd4d9;
}
.scd-bs-y {
	box-shadow: 0 1px 0 #cfd4d9;
}
.src-card-img {
	padding-bottom: 44px;
	position: relative;
}
.src-card-img span {
	position: relative;
	display: inline-block;
	z-index: 1;
}
.src-card-img span:after {
	content: '';
    background-color: #e6e9eb;
    border-radius: 10px;
    width: 50px;
    height: 44px;
    position: absolute;
    right: -20px;
    bottom: -14px;
    z-index: -1;
}
.src-card-img img {
	border-radius: 10px;
}
.src-card-content {
	transition: all 0.3 ease-in-out;
}
.src-card-content h5 {
	color: #051e37;
	font-size: 25px;
	margin: 0;
}
.src-card-content p {
	font-size: 18px;
	margin: 24px 0;
	opacity: 0.8;
}
.src-card-content a {
	color: #051e37;
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

/* The side navigation menu */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 21;
	top: 0;
	right: 0;
	background-color: #051e37;
	box-shadow: 0 60px 80px 0 rgba(19, 23, 32, 0.2);
	overflow-x: hidden;
	transition: 0.5s;
}
.sidenavcard {
	
}
.sidenavcard-image {
	display: block;
}
.sidenavcard-content {
	padding: 0 60px 60px;
}
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}
.sidenav a:hover {
	color: #f1f1f1;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.sidenav p {
	color: #b9bcc0;
	font-size: 19px;
}
#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.whatwedo {
	background-color: #f0f7ff;
	padding: 100px 0;
}
.scrollspy {
	
}
.srlspy-sticky {
	position: -webkit-sticky;
	position: sticky;
    top: 20px;
}
.scrollspy ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.scrollspy ul li {
	border-bottom: 1px solid #e6e8eb;
	border-left: 4px solid #fff;
}
.scrollspy ul li:hover {
	border-left: 4px solid #b73932;
	background-color: #fff !important;
}
.scrollspy-icon {
	margin-right: 28px;
	display: none
}
.scrollspycard {
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: 10px 40px;
    height: 120px;
    align-items: center;
	color: #051e37;
	transition: all 0.1s ease-in-out;
}
.scrollspycard:hover {
	text-decoration: none;
	background-color: #fff !important;
}
.scrollspycard:hover h5,
.scrollspycard:hover p {
	color: #b73932;
}
.scrollspy-content {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.scrollspy-content h5 {
	color: #051e37;
	font-size: 25px;
	margin: 0 0 3px;
}
.scrollspy-content  p {
	color: #051e37;
	font-size: 17px;
	margin: 0;
}
.srlspy-bgcard {
	margin-bottom: 80px;
	position: relative;
}
.srlspy-bgcard:last-child {
	margin-bottom: 40px;
}
.srlspy-bgcard-img {
	border-radius: 3px;
    overflow: hidden;
	transform: rotate(0.0001deg);
    transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.srlspy-bgcard-img img {
	transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.srlspy-bgcard-img:hover {
	transform: scale(0.95);
}
.srlspy-bgcard-img:hover img {
	transform: scale(1.15);
}
.srlspy-bgcard-cont {
	background-color: #ffffff;
	box-shadow: 0 20px 20px 0 rgba(19, 23, 32, 0.05);
	padding: 24px 40px;
	width: 90%;
	position: absolute;
	right: 0;
	bottom: -40px;
	border-radius: 3px;
}
.srlspy-bgcard-cont h5 {
	font-size: 21px;
	margin-top: 0;
}
.srlspy-bgcard-cont p {
	color: #051e37;
	font-size: 19px;
	margin: 0;
}
.nscrlcust li {
	width: 100%;
	float: left;
}
.nscrlcust li a {
	padding: 10px 40px;
	background-color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.scrollspy ul li.active {
	border-left: 4px solid #b73932;
}
.scrollspy ul li.active .scrollspycard .scrollspy-content h5,
.scrollspy ul li.active .scrollspycard .scrollspy-content p {
	color: #b73932;
}
.src_2_img {
	background-repeat: no-repeat;
	background-size: cover;
	height: 0;
	transition: all 0.3s ease-in-out;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	transition: height 0.3s ease-in-out;
	z-index: 11;
}
.src-card:hover .src_2_img {
	height: 483px;
}
.src_2:hover .src-card-img + .src-card-content h5,
.src_2:hover .src-card-img + .src-card-content p,
.src_2:hover .src-card-img + .src-card-content a {
	position: relative;
	top: 0;
	z-index: 12;
	color: #fff;
}
.src_2_img:hover {
	
}
.whychooseus {
	padding: 100px 0;
}
.advsectitle {
	margin-bottom: 30px;
	position: relative;
	height: 84px;
}
.advsectitle:after {
	content: '';
	background-color: transparent;
	border-right: 2px dashed #96a1ab;
	width: 1px;
	height: 490px;
	position: absolute;
	top: 10px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	z-index: 1;
}
.adv-list-title-left {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	text-align: right;
	position: relative;
    z-index: 2;
}
.adv-list-title-left span {
	background-color: #051e37;
    padding: 20px 74px 20px 54px;
    display: inline-block;
    border-radius: 35px 0 0 35px;
}
.adv-list-title-right {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
	text-align: left;
	position: relative;
    z-index: 2;
}
.adv-list-title-right span {
	background-color: #051e37;
    padding: 20px 54px 20px 74px;
    display: inline-block;
    border-radius: 0 35px 35px 0;
}
.adv-vs {
	background-color: #b73932;
    color: #fff;
    z-index: 5;
    width: 100px;
    height: 100px;
    font-size: 23px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
    left: 50%;
	top: -10px;
}
.adv-bricspace-left {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.adv-bricspace-left li {
	border-radius: 45px 0 0 45px;
    font-size: 21px;
    font-weight: 500;
    text-align: right;
    padding: 24px 104px 24px 24px;
    background: url(../images/list-icon.png) no-repeat;
    background-position: 87% center;
}
.adv-bricspace-left li:nth-child(odd) {
	background-color: #f7f8f9;
}
.adv-bricspace-left li:nth-child(even) {
	background-color: #fff;
}
.adv-bricspace-right {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.adv-bricspace-right li {
	border-radius: 0 45px 45px 0;
	color: #364454;
	font-size: 21px;
	opacity: 0.8;
	text-align: left;
	padding: 24px 24px 24px 74px;
}
.adv-bricspace-right li:nth-child(odd) {
	background-color: #f7f8f9;
}
.adv-bricspace-right li:nth-child(even) {
	background-color: #fff;
}
.adv-emp {
	color: #b73932;
	font-size: 17px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 40px 0 20px;
}
.customer-love {
	background-color: #f0f7ff;
	padding: 100px 0;
}

@media (min-width: 1440px) {
  .customer-love > .container-fluid.p0 {
    width: 1170px;
  }
}
.cust-card {
	background-color: #ffffff;
	padding: 50px;
	border-radius: 10px;
}
.star-rating {
	display: block;
}
.cust-content {
	margin: 24px 0;
}
.cust-content p {
	color: #051e37;
	font-size: 21px;
	font-weight: 500;
	margin: 0;
}
.swiper-slide {
	
}
.swiperarrows {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	left: 0;
	z-index: 21;
	width: 100%;
	height: 100%;
}
.swiper-button-next {
	position: absolute !important;
	right: 40px !important;
	left: auto !important;
	background-color: #fff !important;
	box-shadow: 0 20px 40px 0 rgba(19, 23, 32, 0.1);
    width: 70px !important;
    height: 70px !important;
	border-radius: 50%;
}
.swiper-button-next:after {
	color: #000;
	font-size: 23px !important;
	font-weight: bold !important
}
.swiper-button-next:hover {
	background-color: #b73932 !important;
}
.swiper-button-next:hover:after {
	color: #fff;
}
.swiper-button-prev {
	background-color: #fff !important;
	box-shadow: 0 20px 40px 0 rgba(19, 23, 32, 0.1);
    width: 70px !important;
    height: 70px !important;
	border-radius: 50%;
	left: 40px !important;
}
.swiper-button-prev:after {
	color: #000;
	font-size: 23px !important;
	font-weight: bold !important
}
.swiper-button-prev:hover {
	background-color: #b73932 !important;
}
.swiper-button-prev:hover:after {
	color: #fff;
}
.cust-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.custimg {
	border-radius: 20px;
	overflow: hidden;
	margin-right: 20px;
}
.custimg img {
	width: 70px;
	height: 70px;
}
.custprofcont {
	padding: 10px 0 0;
}
.custprofcont h6 {
	color: #051e37;
	font-size: 21px;
	font-weight: 500;
	margin: 0 0 6px;
}
.custprofcont p {
	color: #6a7a89;
	font-size: 15px;
}
.footer {
	padding: 100px 0 34px;
}
.ft-col-1 {
	padding-right: 60px;
}
.ftrimg {
	display: block;
}
.ftabt-cont {
	color: #051e37;
	font-size: 17px;
	margin: 34px 0 24px;
}
.ftr-contlinks {
	
}
.ftr-contlinks a {
	color: #b73932;
	display: block;
	font-size: 19px;
	font-weight: bold;
	padding-bottom: 14px
}
.quicklinks {
	
}
.quicklinks h6 {
	color: #051e37;
	font-size: 19px;
	font-weight: 500;
}
.quicklinks ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.quicklinks ul li {
	
}
.quicklinks ul li a {
	color: #051e37;
	font-size: 17px;
	padding: 6px 0;
	display: block;
}
.social-media {
	list-style-type: none;
	margin: 14px 0 0;
	padding: 0;
}
.social-media li {
	float: left;
	margin-right: 10px;
}
.social-media li a {
	width: 42px;
	height: 42px;
	border-radius: 4px;
	display: inline-block;
	background-color: #e6e8eb;
	color: #051e37;
	text-align: center;
	line-height: 54px;
}
.social-media li a.facebook:hover {
	background-color: #38529a;
	color: #fff;
}
.social-media li a.twitter:hover {
	background-color: #1c9cea;
	color: #fff;
}
.social-media li a.linkedin:hover {
	background-color: #0976b4;
	color: #fff;
}
.social-media li a.youtube:hover {
	background-color: #f20001;
	color: #fff;
}
.copyright {
	color: #051e37;
	font-size: 15px;
	border-top: 1px solid #cdd2d7;
	padding-top: 34px;
	margin-top: 54px;
	margin-bottom: 0;
}
.scrollToTop {
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background: #b73932;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
}
.scrollToTop svg {
	width: 34px;
}
.scrollToTop:hover {
	box-shadow: 0 10px 70px 0 rgba(19, 23, 32, 0.1);
}

/*sidenav*/
.cd-nugget-info {
  display: block;
  font-family: "Droid Serif", serif;
  color: #fff;
  margin: 20px auto 0;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 120px;
  position: relative;
}
.cd-nugget-info::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 1px;
  width: 0%;
  background-color: white;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.cd-nugget-info:hover::after {
  width: 100%;
}
.cd-main-content {
  text-align: center;
}

.cd-main-content h1 {
  font-size: 2rem;
  color: #64788c;
  padding: 4em 0;
}

.cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: #89ba2c;
  color: #ffffff;
  border-radius: 50em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.cd-btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 3.2rem;
  }
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  z-index: 101;
}

.cd-panel::after {
  /* overlay layer */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.cd-panel.cd-panel--is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cd-panel.cd-panel--is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}

.cd-panel__container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #051e37;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.cd-panel--from-right .cd-panel__container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

.cd-panel--from-left .cd-panel__container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.cd-panel--is-visible .cd-panel__container {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
  .cd-panel__container {
    width: 70%;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-panel__container {
    width: 44%;
  }
}

.cd-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}

.cd-panel__content p {
  font-size: 1.4rem;
  color: #b9bcc0;
  line-height: 1.4;
  margin: 2em 0;
}

.cd-panel__content p:first-of-type {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .cd-panel__content p {
    font-size: 19px;
    line-height: 1.6;
  }
}
.sidebarclose {
	position: absolute;
    right: 30px;
    top: 20px;
    z-index: 101;
    color: #051e37;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.sidenavcard-content h3 {
	color: #fff;
	margin-top: 0;
}
/*sidenav*/

@media only screen and (max-width: 992px) {
	body { overflow: hidden; }
	body:before {
		content: 'Mobile Responsive Under Construction';
		background-color: #051e37;
		color: #fff;
		font-size: 21px;
		font-weight: bold;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 11;
	}
}